<div class="author-data author-data--big">
  <div class="author-data__main">
    <div class="author author--flex">
        <%= image_tag avatar %>
      <div>
        <div class="author__name--container">
          <%= icon badge, class: "author__verified" if badge.present? %>
		  <p style="margin-left: 5px"><%= name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
