<%#
Copyright (C) 2021 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Eliminato link a nickname
%>
<div class="author-data author-data--big">
  <div class="author-data__main">
    <div class="author author--flex">
        <%= image_tag avatar %>
      <div>
        <div class="author__name--container">
          <%= icon badge, class: "author__verified" if badge.present? %>
          <p style="margin-left: 5px"><%= name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
