@import "../variables";

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $par-medium-sea-green;
    color: #fff;
}

.button.hollow {
    border: 1px solid $par-medium-sea-green; 
    color: $par-medium-sea-green; 
}

.button.hollow:hover, .button.hollow:focus{
    border: 1px solid $par-medium-sea-green; 
    color: $par-medium-sea-green; 
	-webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.button.secondary {
    background-color: $par-medium-sea-green; 
    color: $par-white;
}

.button:hover, .button:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: $par-medium-sea-green;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.home-bullet__icon svg {
    fill: $par-medium-sea-green;
}

.subhero-cta {
    margin-top: 2rem;
    color: $par-medium-sea-green;
    display: inline-block;
}
