@import "../variables";

a {
    line-height: inherit;
    color: $par-medium-green;
    text-decoration: none;
	font-weight: 520;
    cursor: pointer;
}

.cookie-warning a{
    color: $par-medium-green;
	font-weight: 600;
}

.cookie-warning {
    background: $par-white;
    padding: .5em 1em;
    text-align: center;
}

.main-nav__link a {
    display: block;
    padding: 1em 2em;
    color: rgba(255, 255, 255, 1);
}

.section-heading::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: .8em;
    background-color: $par-medium-green;
    margin-right: .5rem;
    margin-bottom: -.1rem;
}

#profile-tabs.tabs .tabs-title a:focus, #profile-tabs.tabs .tabs-title a[aria-selected="true"] {
    background: transparent;
	color: $par-light-blue;
    font-weight: 600;
    border-bottom: 3px solid $par-medium-green;
}

title.is-active > [role="tab"], .side-panel__tabs .tabs-title.is-active > a {
    color: #599aa6;
    box-shadow: inset 4px 0 0 $par-medium-green;
}

.callout.success {
    border-color: #e8e8e8;
    border-left: 7px solid var(--success);
    border-top: 3px solid var(--success);
    border-bottom: 3px solid var(--success);
    border-right: 3px solid var(--success);
}

.callout.alert {
    border-color: #e8e8e8;
    border-left-color: rgb(232, 232, 232);
    border-left: 8px solid var(--alert);
	border-top: 3px solid var(--alert);
    border-bottom: 3px solid var(--alert);
    border-right: 3px solid var(--alert);
}