@import "../variables";

.hero::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
	background-color: transparent;
}

.subhero {
    padding: 2rem 0;
    text-align: center;
}