@import "../variables";

.logo-wrapper img {
    max-height: 65px;
}

.topbar__user__login a:hover{
	color: $par-white;
	text-decoration: underline;
}

.title-bar {
    padding: 1rem 0.5rem;
	background: $par-blue;
    color: #fff;
}

.navbar {
	background: $par-light-blue;
}

.topbar__search{
  position: relative;
  max-width: 220px; // Safari fix

  input{
    color: $par-black;
    border-color: transparent;
    box-shadow: none;
    background: $par-white;
    margin-top: 8px;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    transition: .3s all;
    height: 2.5rem; //matches input group button height

    &:focus{
      color: $par-black;
      box-shadow: none;
      background: $par-white;
	  margin-top: 8px;
      outline-color: var(--highlight-alternative);
    }
  }

  .input-group-button{
    position: relative;
    height: 1px; // Fix for Safari and Firefox
    vertical-align: top;
  }

  // Fix for Safari and Firefox
  .button-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  button{
    border-radius: 0 4 4 0;
	width: 40px;
  }

  form:first-child{
    display: inline-flex;
  }

  .input-group{
    margin-bottom: 0;
  }

  &:not(:focus-within){
    button{
      background-color: $par-medium-green;
      color: rgba(white, .5);
    }
  }

  &:focus-within{
    input{
      background-color: light-gray;
      color: $par-black;
      border: 0;

      &::placeholder{
        color: dark-medium-gray;
      }
    }
  }
  
  svg{
    color: $par-white;
    position: absolute;
    top: 0.8rem; 
    left: 0.6rem;
    transform: none;
								
    opacity: 1;
  }
				 
}

.main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 $par-white;
}

.m-none, .m-none::placeholder, .input-search, .input-search::placeholder, .input-group-field, .input-group-field::placeholder {
    color: $par-dark-grey;
	opacity: 1;
}
