<%#
Copyright (C) 2025 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Modificato per eliminare informazioni ridondanti e aggiungere link a github.com di ParteciPa
%>
<div class="mini-footer">
  <div class="row footer-logos">
    <div class="ue-logo">
      <a rel="Logo Unione Europea"
        href="https://european-union.europa.eu/index_it"
       target="_blank">
       <%= image_pack_tag("media/images/eu-logo.png", alt: "Logo dell'Unione Europea" , class: "footer-logo") %>
       </a>
    </div>
    <div class="coesione-logo">
      <a rel="Logo Agenzia Coesione"
       href="https://www.agenziacoesione.gov.it/"
       target="_blank">
       <%= image_pack_tag("media/images/coesione-logo.png", alt: "Logo dell'Agenzia per la Coesione Territoriale" , class: "footer-logo") %>
      </a>
    </div>  
    <div class="dfp-logo">
      <a rel="Logo Dipartimento della Funzione Pubblica"
       href="https://www.funzionepubblica.gov.it/"
       target="_blank">
       <%= image_pack_tag("media/images/dfp-logo.png", alt: "Logo del Dipartimento della Funzione Pubblica" , class: "footer-logo") %>
      </a>
    </div>
    <div class="poc-logo">
      <a rel="POC"
       href="http://www.pongovernance1420.gov.it/it/programma-azione-coesione-complementare/"
       target="_blank">
       <%= image_pack_tag("media/images/poc-logo.png", alt: "Logo del Programma Coesione Complementare" , class: "footer-logo") %>
      </a>
    </div>
  </div>
</div>