<!--
Copyright (C) 2021 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>
-->
<div class="row">
  <div class="columns medium-9 medium-offset-3">
     <%= profile_tabs %>
  </div>
</div>
<div class="row">
  <div class="columns medium-3">
    <%= cell "decidim/profile_sidebar", profile_holder %>
  </div>
  <div class="columns medium-9">
    <div class="tabs-content" data-tabs-content="profile-tabs">
      <div class="tabs-panel is-active">
        <%= cell content_cell, profile_holder, context %>
      </div>
    </div>
  </div>
</div>