.filters__section.scope_id_scopes_picker_filter {
  display: none;
}

#participatory-space-filters .filters__section, #participatory-space-filters .filters__section--general {
  display: none;
}

#assemblies-chart {
  display: none;
}