@import "../variables";

.main-footer {
	background: $par-blue;
    position: relative;
    padding: 1rem 0;
    min-height: 76px;
}

.footer-nav li {
    display: inline-block;
    padding: 0 1rem;
}

.mini-footer {
    padding: 1rem 0;
	background: $par-light-blue;
}

.mini-footer a, .main-footer a {
	color: $par-white; 
}

