<!--% if Devise.mappings[:user].omniauthable? && any_social_provider_enabled? %-->
  <div class="row">
    <div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
      <!--%-- Decidim::User.omniauth_providers.each do |provider| %-->
        <!--% if social_provider_enabled? provider %-->
          
			<div style="width:100%">
			  <%= render "decidim/devise/shared/spid_button" %>
			</div>
		<!--% end %-->
      <!--% end %-->
      <%- if current_organization.sign_in_enabled? %>
        <span class="register__separator">
          <span class="register__separator__text"><%= t(".or") %></span>
        </span>
      <%- end %>
    </div>
  </div>
<!--% end %-->