<!--
Copyright (C) 2021 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>
-->
<% if Devise.mappings[:user].omniauthable? && current_organization.enabled_omniauth_providers.any? %>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <span class="register__separator">
        <span class="register__separator__text"><%= t("or", scope: "decidim.devise.shared.omniauth_buttons") %></span>
      </span>
      <div class="text-center">
		<%- current_organization.enabled_omniauth_providers.keys.each do |provider| %>
			<% if provider == :spidauth%>
				<%= render "decidim/devise/shared/spid_button_mini" %>
			<%else%>
				<%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)} button--social--mini", method: :post do %>
				  <span class="button--social__icon">
					<%= oauth_icon provider %>
				  </span>
				<% end %>
			<% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>