    <!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * begin * -->
    <a href="#" style="display:block;margin-left:auto;margin-right:auto" class="italia-it-button italia-it-button-size-l button-spid" spid-idp-button="#spid-idp-button-large-get" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="/spid/spid-ico-circle-bb.svg" onerror="this.src='/spid/spid-ico-circle-bb.png'; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-large-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-large-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
			<%
				spid_list_hash = [
					{
						:svg_image_path => "/spid/spid-idp-testid.png",
						:png_image_path => "/spid/spid-idp-testid.png",
						:alt => "Test ID",
						:identity_provider => "identity_provider"
					},
					{
						:svg_image_path => "/spid/spid-idp-arubaid.svg",
						:png_image_path => "/spid/spid-idp-arubaid.png",
						:alt => "Aruba ID",
						:identity_provider => "aruba"
					},
					{
						:svg_image_path => "/spid/spid-idp-infocertid.svg",
						:png_image_path => "/spid/spid-idp-infocertid.png",
						:alt => "Infocert ID",
						:identity_provider => "infocert"
					},
					{
						:svg_image_path => "/spid/spid-idp-intesaid.svg",
						:png_image_path => "/spid/spid-idp-intesaid.png",
						:alt => "Intesa ID",
						:identity_provider => "intesa"
					},
					{
						:svg_image_path => "/spid/spid-idp-lepidaid.svg",
						:png_image_path => "/spid/spid-idp-lepidaid.png",
						:alt => "Lepida ID",
						:identity_provider => "lepida"
					},
					{
						:svg_image_path => "/spid/spid-idp-namirialid.svg",
						:png_image_path => "/spid/spid-idp-namirialid.png",
						:alt => "Namirial ID",
						:identity_provider => "namirial"
					},
					{
						:svg_image_path => "/spid/spid-idp-posteid.svg",
						:png_image_path => "/spid/spid-idp-posteid.png",
						:alt => "Poste ID",
						:identity_provider => "poste"
					},
					{
						:svg_image_path => "/spid/spid-idp-sielteid.svg",
						:png_image_path => "/spid/spid-idp-sielteid.png",
						:alt => "Sielte ID",
						:identity_provider => "sielte"
					},
					{
						:svg_image_path => "/spid/spid-idp-spiditalia.svg",
						:png_image_path => "/spid/spid-idp-spiditalia.png",
						:alt => "Spiditalia ID",
						:identity_provider => "spiditalia"
					},
					{
						:svg_image_path => "/spid/spid-idp-timid.svg",
						:png_image_path => "/spid/spid-idp-timid.png",
						:alt => "Tim ID",
						:identity_provider => "tim"
					}
				]
			
				spid_list_hash.each do |hash| 
					%>
					<li class="spid-idp-button-link" data-idp="<%=hash[:alt].downcase.delete(' ')%>">
						<%= link_to user_spidauth_omniauth_authorize_path(:idp_param => hash[:identity_provider]), {:style=>'box-sizing: initial;'} do %>
							<span class="spid-sr-only"><%=hash[:identity_provider].capitalize%> ID</span>
							<%=image_tag(hash[:svg_image_path], alt: hash[:alt], src: 'Image Not Found', onerror: "this.error=null;this.src=#{hash[:png_image_path]}" )%>
						<% end %>
					</li>
					<%
				end
			%>
			<li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
    <!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * end * -->