<div class="row collapse" >
	<div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
		<!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * begin * -->
		<div style="height:auto;">
			<a href="#" style="display:block;margin-left:auto;margin-right:auto;cursor:default;" class="italia-it-button italia-it-button-size-l button-spid" spid-idp-button="#spid-idp-button-large-get" aria-haspopup="true" aria-expanded="false">
				<span class="italia-it-button-icon">
					<img src="/spid/spid-ico-circle-bb.svg" onerror="this.src='/spid/spid-ico-circle-bb.png'; this.onerror=null;" alt="" />
				</span>
				<span class="italia-it-button-text" style="pointer-events:none">Entra con SPID</span>
			</a>
		</div>
		<div id="spid-idp-button-large-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
			<ul id="spid-idp-list-large-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
				<%
					SPID_PROVIDER_LIST_HASH.each do |hash| 
						hash.symbolize_keys!
						%>
							<li class="spid-idp-button-link" data-idp="<%=hash[:alt].downcase.delete(' ')%>">
								<%= link_to user_spidauth_omniauth_authorize_path(:idp_param => hash[:identity_provider]), {:style=>'box-sizing: initial;'} do %>
									<span class="spid-sr-only"><%=hash[:identity_provider].capitalize%> ID</span>
									<%=image_tag(hash[:svg_image_path], alt: hash[:alt], src: 'Image Not Found', onerror: "this.error=null;this.src=#{hash[:png_image_path]}" )%>
								<% end %>
							</li>
						<%
					end
				%>
				<li class="spid-idp-support-link">
					<a href="https://www.spid.gov.it">Maggiori informazioni</a>
				</li>
				<li class="spid-idp-support-link">
					<a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
				</li>
				<li class="spid-idp-support-link">
					<a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
				</li>
			</ul>
		</div>
		<!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * end * -->
	</div>
</div>
