/*
Copyright (C) 2020 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Incluso per rendere possibile la customizzazione della index.html.erb in modo da separare processi attivi e conclusi in due sezioni di pagina diverse
*/

var $grid = $('#processes-grid');
var $loading = $grid.find('.loading');

$grid.find('.card-grid-active').html('<% if active_collection.size > 0 %> <h3 class="section-heading" style="width:100%">Processi attivi</h3> <%end%> <%= j(render(active_collection)).strip.html_safe %>');
$grid.find('.card-grid-ended').html('<% if ended_collection.size > 0 %>  <h3 class="section-heading" style="width:100%">Processi conclusi</h3> <%end%> <%= j(render(ended_collection)).strip.html_safe %>');
$grid.find('.processes-grid-order-by').html('<%= j(render(partial: "decidim/participatory_processes/participatory_processes/order_by_processes", locals: { include_filter: true })).strip.html_safe %>');
$loading.hide();
