<div id="go_to_docs_button">
    <%= button_tag "Vai ai Documenti Relativi", type: '', onclick: "scrollDownToDocSection()", class: 'button expanded secondary small has-tip' %>
</div>
<script>
  function scrollDownToDocSection(){
	var documentsSectionHeading = document.getElementById("documents-section-heading");
	documentsSectionHeading.scrollIntoView({
	  behavior: "smooth",
	  block: "start",
	  inline: "nearest"
	});
  }
</script>
