<%#
Copyright (C) 2025 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Aggiunto ID al tag h3 che intitola la sezione "Documenti Relativi" per renderla cercabile tra le sezioni di pagina e rendere possibile il salto tramite apposito pulsante alla sezione stessa
%>
<% if documents.any? %>
  <div class="section documents">
    <h3 class="section-heading" id="documents-section-heading"><%= t("decidim.application.documents.related_documents") %></h3>
    <% if (documents_without_collection = documents.reject(&:attachment_collection_id?)).any? %>
      <div class="card card--list">
        <% documents_without_collection.each do |document| %>
          <%= render partial: "decidim/application/document", locals: { document: document } %>
        <% end %>
      </div>
    <% end %>
    <% documents.select(&:attachment_collection_id?).group_by(&:attachment_collection).sort_by { |c, d| c.weight }.each do |collection, documents| %>
      <%= render partial: "decidim/application/collection", locals: { attachment_collection: collection, documents: documents } %>
    <% end %>
  </div>
<% end %>